/* You can add global styles to this file, and also import other style files */
/* * {
  border: 1px solid red;
} */

/*Main Font Style*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

/* *{
  font-family: "Work Sans",sans-serif;
} */

*,
*::before,
*::after {
  overflow-x: hidden;
  box-sizing: border-box;
}
