<div class="cardd">
    <div class="cardd-body">
        <h3 class=" mb-4">Register</h3>
        <form>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input [type]="passwordFieldType" class="form-control" id="password" placeholder="Password">
                    <div class="input-group-append">
                        <span class="input-group-text" (click)="togglePasswordVisibility()"><i [class]="passwordIcon"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-block rounded-pill">Register</button>
        </form>
    </div>
</div>
