<app-hero></app-hero>
<!-- Popular goes here -->
<br />
<br />
<app-categories></app-categories>
<br />
<br />
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 light-background">
      <h3>Same day delivery</h3>
      <p>
        Your shipt shopper will leave your order right at your doorstep.<br />
        Begin your 4-week trial or pay $9.99 per delivery.
        <a href="#" class="text-primary-custom">Start your order.</a>
      </p>
    </div>
    <div class="col-md-6 dark-background">
      <h3>Drive up</h3>
      <p>
        <span class="text-danger-custom">Always free.</span> Choose order pickup
        for your items. Then, when your order is ready, switch to curbside drive
        up in the Portera app.
      </p>
    </div>
  </div>
</div>
<!-- End of popular -->
<!-- Title section -->
<section>
  <div class="row py-5">
    <h2 class="h2 text-center fw-bolder">Popular products</h2>
    <hr class="w-25 border-2 mx-auto border-dark border rounded-circle" />
  </div>
</section>

<!-- end of title section -->
<!-- Start of popular products section  -->
<section class="mt-3" style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      @for (product of products; track $index) {
      <div class="col-md-4 mb-4">
        <app-popular
          [imageUrl]="product.imageUrl"
          [name]="product.name"
          [price]="product.price"
          [originalPrice]="product.originalPrice"
          [category]="product.category"
          [stock]="product.stock"
          [rating]="product.rating"
        >
        </app-popular>
      </div>
      }
    </div>
  </div>
</section>
<!-- End of popular products section  -->
<!-- Title section -->
<div class="row py-5">
  <h2 class="h2 text-center fw-bolder">Phone of the year</h2>
  <hr class="w-25 border-2 mx-auto border-dark border rounded-circle" />
</div>
<!-- end of title section -->
<!-- Static iphone img -->
<section class="mt-3" style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h3 class="h3 fw-bold">Iphone 13 PRO MAX</h3>
        Welcome the latest and greatest Iphone ever built. With A13 chip, 12MP
        camera, and all-day battery life, the Iphone 13 is the perfect choice
        for those who want the best in technology.

        <dark-base-button> </dark-base-button>
      </div>
      <div class="col">
        <img
          src="../../assets/iphone.png"
          alt=""
          class="d-inline-block w-100"
        />
      </div>
    </div>
  </div>
</section>
<!-- Title section -->
<div class="row py-5">
  <h2 class="h2 text-center fw-bolder">Newest accessories</h2>
  <hr class="w-25 border-2 mx-auto border-dark border rounded-circle" />
</div>
<!-- end of title section -->
