<!-- side navbar -->
<div [class.open]="isOpen" id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav($event)"
    >&times;</a
  >
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<nav
  class="navbar navbar-expand-lg bg-body-tertiary border border-dark border-bottom"
>
  <div class="container-fluid">
    <!-- Burger menu and side nav -->
    <span (click)="openNav($event)" style="display: inline" class="openbtn"
      ><i class="bi bi-list"></i>
    </span>
    <a class="navbar-brand mr-auto mx-3" href="#">Navbar</a>
    <!-- toggler for responsive screens  -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 w-50"
        style="margin-left: auto"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item mx-5">
          <div class="input-group rounded-pill">
            <span
              class="input-group-text rounded-end"
              style="border-radius: 25px"
            >
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              placeholder="Search for a product!"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
              class="form-control rounded-start"
              style="border-radius: 25px"
            />
          </div>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link"> <i class="bi bi-basket mx-1"></i> Cart</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link"> <i class="bi bi-bag-heart"></i> Wishlist</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
