<section class="forget-password-information" [@fadeIn]="true">
     <h6 class="title">
        Forget Password?
        <a routerLink="/auth"><i class="fa-solid fa-x"></i></a>
    </h6>
    <p class="note">Request To Reset Your Password</p>
    <p class="subnote">Enter the email address associated with your account and we will email you a temporary password.</p>
    <label for="email" class="my-3">Email address</label>
    <form action="#" class="d-flex justify-content-between">
        <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
    </div>
    <button type="submit" class="btn btn-dark btn-block rounded-pill">Send </button>
    </form>
</section>
