.forget-password-information{
    background-color:#F0F2F3;
    padding:9.8%;
    margin-top: 2.5%;
    margin-left: 1.5%;
    font-family: "Work Sans",sans-serif;
}
.title{
  display: flex;
  justify-content:space-between;
  font-size: 1rem;
  text-transform: uppercase;
}
.title a{
    color:#bec0c4;
    transition: color 0.3 ease-in-out;
}
.title a:hover{
    color:black;
}
.note{
    color:black;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 15%;
    margin-top: 4.5%;
}

.subnote{
    font-size: 1rem;
    font-weight: 400;
    color:rgb(140, 140, 140);
    line-height: 1.1rem;
    margin-bottom: 4.5%;
    padding-right: 15%;
}


.form-control {
    background-color: #f8f9fa;
    border: none;
    border-radius: 2rem;
    box-shadow: none;
    height: 45px;
    width: 19rem;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-control:focus {
    border: 1px solid black;
    background-color:#ffff;
}

.btn-dark {
    background-color: #000;
    border: none;
    height: 45px;
    font-weight: 500;
    margin-left: 2%;
    width: 8rem;
    transition: background-color 0.3 ease;
}

.btn-dark:hover {
    background-color: #5c5c5c;
}
